:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #fff;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

/* логотип */

.logo {
  color: var(--accent-color);
}

.logo .studio {
  color: #000;
}

/* навигация */

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* контакты в шапке */

.contacts .link {
  color: var(--primary-text-color);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* подвал сайта */
